@import "variables.scss";

.btn {
  cursor: pointer;
  color: #fff;
  background-color: $yellow-400;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: $font-weight-normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $font-size-base / 4;
  padding: .375rem .75rem;
  font-size: 1.5 * $font-size-base;
  line-height: $line-height-base;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;

  &:hover {
    color: white;
    background-color: $yellow-800;
    border-color: $yellow-400;
  }
}

