@import "variables.scss";

.grid-container {
  margin: $spacer auto;
  display: grid;
  width: 24 * 1.5em;
  grid-template-columns: repeat(24, $grid-field-size);
  grid-template-rows: repeat(24, $grid-field-size);
  grid-gap: $grid-gap;
  box-sizing: border-box;

  .field {
    height: $grid-field-size;
    box-shadow: 0 0 0 $grid-gap $grid-gap-color;
    background-color: white;
  }

  .snake {
    background-color: green !important;
  }
}