@import "variables.scss";
@import "button.scss";
@import "grid.scss";

body {
  color: $font-color;
  background-color: $body-bg;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-family: $font-family;
  line-height: $line-height-base;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $font-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

.wrapper {
  width: 80%;
  margin: auto;
}

header {
  margin-top: $spacer;
  height: 5 * $spacer;

  .title {
    float: left;
    width: 50%;
  }

  .score {
    float: right;
    width: 50%;
    text-align: right;
  }
}

main {
  clear: both;
  margin-top: $spacer;
  height: 40 * $spacer;
  text-align: center;
  background: white;
  border: 1px solid $border-color;
}

footer {
  text-align: center;
  padding: $spacer
}